<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ОШИБКА</title>
</head>
<body>
    <ul style="color: rgb(195, 0, 255); font-size: 20px">
        <p>В базе нет такого рецепта! Поищите на других сайтах:</p>
        <a href=" https://www.russianfood.com/recipes/ "><button>например здесь</button></a>
        <br><br>
        <p>Или посмотрите список доступных блюд у нас</p>
        <a href="{% url 'home-page' %}"><button>Главная страница</button></a>
    </ul>
</body>
</html>